*{
    padding: 0%;
    margin: 0%;
}

#sec2{
    height: fit-content;
    width: 100%;
    display: flex;
      justify-content: space-between;  
    /* border: 2px solid green; */
    padding: 3px;
}
#art2{
    height: fit-content;
    width: fit-content;
    /* border: 2px solid yellow; */
    display: flex;  
    /* justify-content: space-between; */
}
#art3{
        height: fit-content;
        width: fit-content;
        /* border: 2px solid blueviolet; */
}
#art4{
         height: fit-content;
        width: fit-content;
        /* border: 2px solid yellowgreen; */
}